{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2962ff">
    <meta name="msapplication-navbutton-color" content="#2962ff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2962ff">
    <title>فروشگاه اینترنتی یکتاکالا</title>
    {% include "css.html" %}
</head>
<body>
    <div class="page-wrapper">
        <main class="page-content page-auth">
            <div class="auth-container">
                <div class="auth-box ui-box">
                    <div class="d-flex justify-content-center mb-2">
                        <div class="logo-container">
                            <a href="{% url "home_page" %}" class="logo"><img src={% static "products/images/logo-dark.svg"%} width="100" alt=""></a>
                        </div>
                    </div>
                    <div class="fw-bold fs-5 mb-3">کد تایید را وارد کنید</div>
                    <p class="fw-normal ">کد تایید برای شماره {{ phone_number }} پیامک شد
                    </p>
                    <form id="verify-form" action="{% url 'verify_view' %}" class="auth-form" method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="form-element-row mb-4">
                            <input type="text" name="otp" class="form-control" required>
                            <div id="otp_error" class="error mt-3" style="color:red;"></div>
                            <div id="resend_message" class="success mt-3" style="color:green;"></div>
                        </div>
                        <div class="verify-code-wrapper mt-3 mb-5">
                            <div class="d-flex align-items-center" dir="ltr">
                                <span class="text-sm">مدت زمان باقیمانده</span>
                                <span class="mx-2">|</span>
                                <div id="timer--verify-code" data-minutes-left=2></div>
                            </div>
                            <a href="{% url 'resend_otp' %}" id="resend-code-link" style="display: none;">ارسال مجدد کد</a>                 

                        </div>
                        <div class="form-element-row mb-3">
                            <button type="submit" class="btn btn-primary btn-loading"><span>پیوستن به خانواده ما</span>
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">در حال بارگذاری...</span>
                                </div></button>
                        </div>
                        <div class="form-element-row">
                            <a href="{% url "register_view" %}" class="link mx-auto">ویرایش شماره موبایل <i class="ri-pencil-fill ms-1"></i></a>
                        </div>
                    </form>
                    
                </div>
            </div>
        </main>
    <script src="{% static 'main.js' %}"></script>
    {% include "scripts.html" %}
</body>
</html>
